\#*
.#*
*~
out/
.ws/
target/
mvn.out*
.settings/
.repository/
.settings.xml
*.iml
.idea
.classpath
.project
.DS_Store
mypom.xml
*.old.key
karaf.data_IS_UNDEFINED/
hs_err_pid*.log
dependency-reduced-pom.xml
